---
# yaml-language-server: $schema=https://taskfile.dev/schema.json
version: "3"
silent: true
tasks:
  clean:
    desc: Clean Typst build artifacts
    cmds:
      - rm -rf _build/
  build:
    desc: Build Typst document
    deps:
      - clean
    cmds:
      - scripts/typst/build.sh src/main.typ _build/main.pdf
  watch:
    desc: Build Typst document in watch mode
    cmds:
      - scripts/typst/watch.sh src/main.typ _build/main.pdf
  test:
    desc: Test Typst document
    cmds:
      - scripts/typst/test.sh src/main.typ
  check:
    desc: Check Typst document
    cmds:
      - typstyle --check src/
  fix:
    desc: Fix Typst document
    cmds:
      - typstyle --inplace --timing src/
