name: CI
on:
  push:
    paths:
      - src/**
  pull_request:
    paths:
      - src/**
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Nix
        uses: DeterminateSystems/determinate-nix-action@main

      - name: Setup Nix cache
        uses: DeterminateSystems/magic-nix-cache-action@main

      - name: Check Typst document formatting
        run: nix develop --command just check

      - name: Compile typst document
        run: nix develop --command just build
