---
# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
# yamllint disable rule:line-length
# yamllint disable rule:comments
name: Nix
on:
  push:
    paths:
      - "flake.nix"
      - "flake.lock"
  pull_request:
    paths:
      - "flake.nix"
      - "flake.lock"
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Install Nix
        uses: DeterminateSystems/determinate-nix-action@main
      - name: Setup Nix cache
        uses: DeterminateSystems/magic-nix-cache-action@main
      - name: Run Nix flake check
        run: nix flake check --all-systems --no-build
